header.header
	.header__topline
		.header__box
			.header__topline-inside
				.nav-panel
					nav.nav
						a.nav__link(href='#') Case studies
						a.nav__link(href='#') About us
						a.nav__link(href='#') Careers
						a.nav__link(href='#') Contact us

	.header__botline
		.header__box
			.header__botline-inside
				a.logo.header__logo(href='#'): img.logo__img(src='img/logo_white.svg')

				nav.extra-nav
					a.extra-nav__link(href='#') Extended team
					a.extra-nav__link(href='#') Managed project
					a.extra-nav__link(href='#') Extra services

				a.phone(href='tel:+14802075163') +1 480 207 5163