.about-box
  h2.title.title_center.about-box__title Technologies

  include categories

  .about-box__content
    h3.title.about-box__subtitle About Andersen technologies

    p.
      Having significant experience in desktop, Web, and mobile development, Andersen talents bring tailored solutions with both strong technical back-end and modern design. Our team applies the latest technologies, frameworks, and components to ensure usability and accessibility across all devices and drive your business to the competitive edge.
  a.button(href='#') All
    i.button__icon.icon-arrow