.become
  .become__content
    .title.become__title  Driving Excellence to Your Business
    p.
      During 10+ years of its activity, Andersen gained a strong knowledge base in full-circle software development and project management delivering successful solutions for a wide range of industries across the world. With a high level of competency, quality, and professional resources, we are ready to face any challenge of the fast-paced market driving excellence of your software.

  .become__panel
    .title.become__panel-title Start Your Journey with Andersen
    p.
      Thinking about the software that will revolutionize your business? Let us show you how bright your future can be.
    a.button.become__panel-button(href='#') Get in touch
