.features.box
	.features__header
		.title.features__title Full-circle software development
		p.features__text.
			At Andersen, we apply top technologies and modern software development processes to build custom solutions for companies around the world.<br> Strong understanding of the developed products, full transparency, and reliable teams, help our clients drive digital transformation and<br> reshape their business.

	.featires__list
		.features__item.feature
			.feature__icon-box
				img.feature__icon(src='img/feature-team-icon.svg')
			.feature__title Extended Team
			p.feature__text.
				We carefully select only qualified and competent talents that suit your project goals
			a.button.feature__button(href='#') More
				i.button__icon

		.features__item.feature
			.feature__icon-box
				img.feature__icon(src='img/feature-project-icon.svg')
			.feature__title Managed Project
			p.feature__text.
				We help you to develop a project within the allocated budget keeping in mind time and quality
			a.button.feature__button(href='#') More
				i.button__icon

		.features__item.feature
			.feature__icon-box
				img.feature__icon(src='img/feature-services-icon.svg')
			.feature__title Extra Services
			p.feature__text.
				We provide a pool of additional services to extend competencies of your team.
			a.button.feature__button(href='#') More
				i.button__icon