.progects-category
	.progects-category__list
		.progects-category__item
			.progects-category__icon-box
				.progects-category__icon.icon-security
			.progects-category__content
				span.progects-category__counter 2 projects
				= ' '
				| in Security
		.progects-category__item
			.progects-category__icon-box
				.progects-category__icon.icon-internet
			.progects-category__content
				span.progects-category__counter 3 projects
				= ' '
				| in Internet of Things
		.progects-category__item
			.progects-category__icon-box
				.progects-category__icon.icon-innovative
			.progects-category__content
				span.progects-category__counter 4 projects
				= ' '
				| in Innovative Healthcare
		.progects-category__item
			.progects-category__icon-box
				.progects-category__icon.icon-fintech
			.progects-category__content
				span.progects-category__counter 5 projects
				= ' '
				| in Fintech Industry
		.progects-category__item
			.progects-category__icon-box
				.progects-category__icon.icon-multimedia
			.progects-category__content
				span.progects-category__counter 6 projects
				= ' '
				| in Multimedia & Entertainment
	a.button.progects-category__button(href='#') All Industries
		i.button__icon.icon-arrow