
.tab-panel
  .tab-panel__tabs
    .tab-panel__tab.tab-panel__tab_id_1
    .tab-panel__tab.tab-panel__tab_id_2
    .tab-panel__tab.tab-panel__tab_id_2
    .tab-panel__tab.tab-panel__tab_id_2
    .tab-panel__tab.tab-panel__tab_id_2
  .tab-panel__container
    .tab-panel__content.tab-panel__content_id_1
    .tab-panel__content.tab-panel__content_id_2
Healthcare
Fintech
Entertainment & multimedia
  Startup
  Enterprise
  Ecommerce