.technologies
	.title.technologies__title

.technologies__list
	.technologies__item.technology
		.technology__title Java
		ul.technology__list
			li.technology__item PHP <span class='technology__count>13</span>
			li.technology__item Javascript <span class='technology__count>14</span>
			li.technology__item HTML/DHTML <span class='technology__count>18</span>
			li.technology__item Laravel <span class='technology__count>5</span>
			li.technology__item AJAX <span class='technology__count>14</span>
			li.technology__item jQuery <span class='technology__count>13</span>
			li.technology__item Flash <span class='technology__count>2</span>

	.technologies__item.technology
		.technology__title .Net
		ul.technology__list
			li.technology__item
				span.technology__count Bitrix <span class='technology__count>18</span>
				span.technology__count YII <span class='technology__count>13</span>
				span.technology__count Postgre SQL <span class='technology__count>4</span>
				span.technology__count MySQL <span class='technology__count>22</span>
				span.technology__count Ruby on Rails <span class='technology__count>3</span>
				span.technology__count ZEND <span class='technology__count>12</span>

	.technologies__item.technology
		.technology__title PHP
		ul.technology__list
			li.technology__item PHP <span class='technology__count>13</span>
			li.technology__item Javascript <span class='technology__count>14</span>
			li.technology__item HTML/DHTML <span class='technology__count>18</span>
			li.technology__item Laravel <span class='technology__count>5</span>
			li.technology__item AJAX <span class='technology__count>14</span>
			li.technology__item jQuery <span class='technology__count>13</span>
			li.technology__item Flash <span class='technology__count>2</span>

	.technologies__item.technology
		.technology__title Java Script
		ul.technology__list
			li.technology__item PHP <span class='technology__count>13</span>
			li.technology__item Javascript <span class='technology__count>14</span>
			li.technology__item HTML/DHTML <span class='technology__count>18</span>
			li.technology__item Laravel <span class='technology__count>5</span>
			li.technology__item AJAX <span class='technology__count>14</span>
			li.technology__item jQuery <span class='technology__count>13</span>
			li.technology__item Flash <span class='technology__count>2</span>

	.technologies__item.technology
		.technology__title Mobile
		.technology__columns
			.technology__column
				.technology__sub-title Android
				ul.technology__list
					li.technology__item PHP <span class='technology__count>13</span>
					li.technology__item Javascript <span class='technology__count>14</span>
					li.technology__item HTML/DHTML <span class='technology__count>18</span>
					li.technology__item Laravel <span class='technology__count>5</span>
					li.technology__item AJAX <span class='technology__count>14</span>
					li.technology__item jQuery <span class='technology__count>13</span>
					li.technology__item Flash <span class='technology__count>2</span>

			.technology__column
				.technology__sub-title iOS
				ul.technology__list
					li.technology__item PHP <span class='technology__count>13</span>
					li.technology__item Javascript <span class='technology__count>14</span>
					li.technology__item HTML/DHTML <span class='technology__count>18</span>
					li.technology__item Laravel <span class='technology__count>5</span>